<h2>Calculadora de Watt/Corrente/Tensão</h2>

<form method="POST">
    <h1>Caso você não saiba algum dos valores, deixe a caixa de texto EM BRANCO!</h1>
    <input type="text" name="potencia" placeholder="Potência">
    <input type="text" name="tensao" placeholder="Tensão">
    <input type="text" name="corrente" placeholder="Corrente">
    <h1>Para o cálculo dos volts, preencha o campo Corrente e Ohm!</h1>
    <input type="text" name="Ohm" placeholder="Ohm/Resistência">
    <input type="submit" value="Calcular!">
</form>

{% if a %}
    <div>Watt: {{a}}</div>
{% endif %}

{% if b %}
    <div>Ampere: {{b}}.</div>
{% endif %}

{% if c %}
    <div> Volts: {{c}}</div>
{% endif %}